<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascript/two.min.js"></script>
    <!--<script src="../static/javascript/two.min.js"></script>-->
    <title>game in progress!</title>
</head>
<body>
<div id="canvas"></div>
<div id="counter"></div>
</body>
<script th:inline="javascript">
  const GAME_ID = [[${game_id}]];
  const NUMBER_OF_GENERATIONS = 5000;
  const TIME_BETWEEN_EACH_TICK = 10;
  const GRIDHEIGHT = 800;
  const GRIDWIDTH = 800;
  const ROWNUMBER = 16;
  const COLUMNNUMBER = 16;
  const CELLHEIGHT = 50;
  const CELLWIDTH = 50;
  const ALIVE = "#000000";
  const DEAD = "#FFFFFF";
  const CANVAS = document.getElementById("canvas");
  const params = {
    width: GRIDWIDTH,
    height: GRIDHEIGHT
  };
  const TWO = new Two(params).appendTo(CANVAS);
  let gameConfig;
  $.get('/game/data/', {
    gameId: GAME_ID
  }).done((data, textStatus, jqXHR) => {
        gameConfig = data.data;
  });
  // = [
  //         [
  //     true,
  //     true,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false
  //   ],
  //   [
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true
  //   ],
  //   [
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false
  //   ],
  //   [
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true
  //   ],
  //   [
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false
  //   ],
  //   [
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true
  //   ],
  //   [
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false
  //   ],
  //   [
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true
  //   ],
  //   [
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false
  //   ],
  //   [
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true
  //   ],
  //   [
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false
  //   ],
  //   [
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true
  //   ],
  //   [
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false
  //   ],
  //   [
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true
  //   ],
  //   [
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false
  //   ],
  //   [
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true
  //   ],
  // ];
  let startGeneration = 0;

  //set the initial field.
  renderGrid(gameConfig);

  //game loops
  let intervalId = setInterval(() => {
    updateGrid(gameConfig);
    renderGrid(gameConfig);
    startGeneration++;
    if (startGeneration >= NUMBER_OF_GENERATIONS) {
      //perform cleanup; submit results to server.
      clearInterval(intervalId);
      renderGrid(gameConfig);
      submitResults(gameConfig);
    }
  }, TIME_BETWEEN_EACH_TICK);

  function submitResults(gameConfig) {
    let httpRequest = $.post("/game/submit", {
      gameId: GAME_ID,
      data: gameConfig
    }).complete(handleStateChange);
  }

  function handleStateChange(xhr, status) {
    if (status === XMLHttpRequest.DONE) {
      window.alert("game over! submitted results.");
    }
    else {
      window.alert('there was a problem with the request');
    }
  }

  function updateGrid(booleanGrid) {
    for (let j = 0; j < ROWNUMBER; j++) {
      for (let i = 0; i < COLUMNNUMBER; i++) {
        let neighbhours = [
          booleanGrid[bitwiseWrap(i - 1)][bitwiseWrap(j - 1)],
          booleanGrid[bitwiseWrap(i - 1)][j],
          booleanGrid[bitwiseWrap(i - 1)][bitwiseWrap(j + 1)],
          booleanGrid[i][bitwiseWrap(j - 1)],
          booleanGrid[i][bitwiseWrap(j + 1)],
          booleanGrid[bitwiseWrap(i + 1)][bitwiseWrap(j - 1)],
          booleanGrid[bitwiseWrap(i + 1)][j],
          booleanGrid[bitwiseWrap(i + 1)][bitwiseWrap(j + 1)]
        ];
        let liveCount = 0;
        let deadCount = 0;
        neighbhours.forEach((neighbhour) => {
          if (neighbhour) {
            liveCount++;
          }
        });

        booleanGrid[i][j] = isAlive(liveCount, booleanGrid[i][j]);
      }

    }
  }

  function isAlive(liveCount, currentStatus) {
    if (currentStatus) {
      switch (liveCount) {
      case 2:
      case 3:
        return true;
        break;
      default:
        return false;
      }
    }
    else {
      return (liveCount === 3);
    }

  }

  //returns a wraparaound number between 0 and 15.
  function bitwiseWrap(number) {
    return number << 28 >>> 28;
  }

  function renderGrid(booleanGrid) {
    TWO.clear();
    for (let j = 0; j < ROWNUMBER; j++) {
      for (let i = 0; i < COLUMNNUMBER; i++) {
        let rect = TWO.makeRectangle(CELLHEIGHT * i + CELLHEIGHT / 2, CELLWIDTH * j + CELLWIDTH / 2, CELLHEIGHT,
            CELLWIDTH);
        rect.fill = booleanGrid[j][i] ? ALIVE : DEAD;
        rect.stroke = '#000000';
        rect.lineWidth = '5px';
      }
    }
    TWO.update();
    $('#counter')[0].innerHTML = "current generation: " + startGeneration;
  }

  function changeCellColor(event) {
    switch (event.target.attributes.fill.value) {
    case ALIVE:
      event.target.attributes.fill.value = DEAD;
      break;
    case DEAD:
    default:
      event.target.attributes.fill.value = ALIVE;
      break;
    }
  }

</script>

</html>