<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascript/two.min.js"></script>
    <!--<script src="../static/javascript/two.min.js"></script>-->
    <title>game in progress!</title>
</head>
<body>

<table>
    <tr>
        <td>
            <div id="canvas"></div>
        </td>
        <td>
            <table>
                <thead>
                    <td><h4>Player</h4></td>
                </thead>
                <tbody>
                <tr id="player1" th:with="player1=${statuses[0]}">
                    <td>
                        <div id="player1-name" th:text="${player1.name}">o1n</div>
                    </td>
                </tr>
                <tr id="player2" th:with="player2=${statuses[1]}">
                    <td>
                        <div id="player2-name" th:text="${player2.name}">t20</div>
                    </td>
                </tr>
                <tr id="player3" th:with="player3=${statuses[2]}">
                    <td>
                        <div id="player3-name" th:text="${player3.name}">3re</div>
                    </td>
                </tr>
                <tr id="player4" th:with="player4=${statuses[3]}">
                    <td>
                        <div id="player4-name" th:text="${player4.name}">4r0</div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div id="counter"></div>
        </td>
    </tr>
</table>

</body>
<script th:inline="javascript">
  const GAME_ID = [[${gameId}]];
  const NUMBER_OF_GENERATIONS = 200;
  const TIME_BETWEEN_EACH_TICK = 10;
  const GRIDHEIGHT = 800;
  const GRIDWIDTH = 800;
  const ROWNUMBER = [[${gameSize}]];
  const COLUMNNUMBER = [[${gameSize}]];
  const ZERO_BITS = Math.clz32([[${gameSize}]] - 1);
  const CELLHEIGHT = GRIDHEIGHT / ROWNUMBER;
  const CELLWIDTH = GRIDWIDTH / ROWNUMBER;
  const ALIVE = "#000000";
  const DEAD = "#FFFFFF";
  const CANVAS = document.getElementById("canvas");
  const params = {
    width: GRIDWIDTH,
    height: GRIDHEIGHT
  };
  const TWO = new Two(params).appendTo(CANVAS);
  let gameConfig;
  let startGeneration = 0;
  $.get('/game/data', {
    gameId: GAME_ID
  }).done((data, textStatus, jqXHR) => {
    gameConfig = data.data;

    //set the initial field.
    renderGrid(gameConfig);
    gameLoop();
  });
  // = [
  //         [
  //     true,
  //     true,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false
  //   ],
  //   [
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true
  //   ],
  //   [
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false
  //   ],
  //   [
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true
  //   ],
  //   [
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false
  //   ],
  //   [
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true
  //   ],
  //   [
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false
  //   ],
  //   [
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true
  //   ],
  //   [
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false
  //   ],
  //   [
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true
  //   ],
  //   [
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false
  //   ],
  //   [
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true
  //   ],
  //   [
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false
  //   ],
  //   [
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true
  //   ],
  //   [
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false
  //   ],
  //   [
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true,
  //     false,
  //     true
  //   ],
  // ];
  function gameLoop() {
    //game loops
    let intervalId = setInterval(() => {
      updateGrid(gameConfig);
      renderGrid(gameConfig);
      startGeneration++;
      if (startGeneration >= NUMBER_OF_GENERATIONS) {
        //perform cleanup; submit results to server.
        clearInterval(intervalId);
        renderGrid(gameConfig);
        submitResults(gameConfig);
        //redirect to result page
        setTimeout(function () {
          window.location.href = "/result/" + GAME_ID;
        }, 2000);
      }
    }, TIME_BETWEEN_EACH_TICK);
  }
  function submitResults(gameConfig) {
    let httpRequest = $.post("/game/submit", {
          gameId: GAME_ID,
          data: JSON.stringify(gameConfig)
        }
        // , handleStateChange
    );
  }

  function handleStateChange(xhr, status) {
    if (status === XMLHttpRequest.DONE) {
      window.alert("game over! submitted results.");
    }
    else {
      window.alert('there was a problem with the request');
    }
  }

  function updateGrid(booleanGrid) {
    for (let j = 0; j < ROWNUMBER; j++) {
      for (let i = 0; i < COLUMNNUMBER; i++) {
        let neighbhours = [
          booleanGrid[bitwiseWrap(i - 1)][bitwiseWrap(j - 1)],
          booleanGrid[bitwiseWrap(i - 1)][j],
          booleanGrid[bitwiseWrap(i - 1)][bitwiseWrap(j + 1)],
          booleanGrid[i][bitwiseWrap(j - 1)],
          booleanGrid[i][bitwiseWrap(j + 1)],
          booleanGrid[bitwiseWrap(i + 1)][bitwiseWrap(j - 1)],
          booleanGrid[bitwiseWrap(i + 1)][j],
          booleanGrid[bitwiseWrap(i + 1)][bitwiseWrap(j + 1)]
        ];
        let liveCount = 0;
        let deadCount = 0;
        neighbhours.forEach((neighbhour) => {
          if (neighbhour) {
            liveCount++;
          }
        });

        booleanGrid[i][j] = isAlive(liveCount, booleanGrid[i][j]);
      }

    }
  }

  function isAlive(liveCount, currentStatus) {
    if (currentStatus) {
      switch (liveCount) {
      case 2:
      case 3:
        return true;
      default:
        return false;
      }
    }
    else {
      return (liveCount === 3);
    }

  }

  //returns a wraparaound number between 0 and GRID_SIZE - 1.
  function bitwiseWrap(number) {
    return number << ZERO_BITS >>> ZERO_BITS;
  }

  function renderGrid(booleanGrid) {
    TWO.clear();
    for (let j = 0; j < ROWNUMBER; j++) {
      for (let i = 0; i < COLUMNNUMBER; i++) {
        let rect = TWO.makeRectangle(CELLHEIGHT * i + CELLHEIGHT / 2, CELLWIDTH * j + CELLWIDTH / 2, CELLHEIGHT,
            CELLWIDTH);
        rect.fill = booleanGrid[j][i] ? ALIVE : DEAD;
        rect.stroke = '#000000';
        rect.lineWidth = '5px';
      }
    }
    TWO.update();
    $('#counter')[0].innerHTML = "current generation: " + startGeneration;
  }

  function changeCellColor(event) {
    switch (event.target.attributes.fill.value) {
    case ALIVE:
      event.target.attributes.fill.value = DEAD;
      break;
    case DEAD:
    default:
      event.target.attributes.fill.value = ALIVE;
      break;
    }
  }

</script>

</html>