<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hackathon 2018: Multiplayer Life</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/mpl.css}" />
</head>

<body>

<h2>Welcome to Life!</h2>

<form action="input.html" th:action="@{/input}">
  <fieldset>
    <input type="text" name="Name" th:name="#{index.input.name}"/>
    <input type="submit" value="Join!" th:value="#{index.input.submit}"/>
  </fieldset>
</form>

</body>
</html>