<html>
<head>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="javaScript/two.min.js"></script>
    <title>input</title>
</head>

<body>
<div id="canvas"></div>
<button onclick="buildConfigurationFromInput()">submit</button>
</body>

<script type="text/javascript" language="JavaScript">
  //TODO player ID may be manipulated?
  const PLAYER_ID = 1;
  const GRIDHEIGHT = 800;
  const GRIDWIDTH = 800;
  const ROWNUMBER = 8;
  const COLUMNNUMBER = 8;
  const CELLHEIGHT = 100;
  const CELLWIDTH = 100;
  const ALIVE = "#000000";
  const DEAD = "#FFFFFF";
  const CANVAS = document.getElementById("canvas");
  const params = {
    width: GRIDHEIGHT,
    height: GRIDWIDTH
  };
  const TWO = new Two(params).appendTo(CANVAS);
  for (let j = 0; j < ROWNUMBER; j++) {
    for (let i = 0; i < COLUMNNUMBER; i++) {
      let rect = TWO.makeRectangle(CELLHEIGHT * i + 50, CELLWIDTH * j + 50, CELLHEIGHT, CELLWIDTH);
      rect.fill = DEAD;
      rect.stroke = '#000000';
      rect.lineWidth = '5px';
      TWO.update();
      rect._renderer.elem.addEventListener("click", changeCellColor, false);
    }
  }

  function buildConfigurationFromInput() {
    let gridList = Array.prototype.slice.call($("#two_0")[0].childNodes);
    let gridBoolList = new Array(ROWNUMBER);
    for (let i = 0; i < ROWNUMBER; i++) {
      gridBoolList[i] = new Array(COLUMNNUMBER);
    }
    gridList.forEach((gridCell) => {
      let index = gridList.indexOf(gridCell);
      switch (gridCell.attributes.fill.value) {
      case ALIVE:
        gridBoolList[Math.floor(index / COLUMNNUMBER)][index % ROWNUMBER] = true;
        break;
      case DEAD:
        gridBoolList[Math.floor(index / COLUMNNUMBER)][index % ROWNUMBER] = false;
        break;
      default:
        window.alert("something messed up in the grid. please try again");
        return;
      }

    });
    let JSON2dBoolArray = JSON.stringify(gridBoolList);
    //TODO: call api and submit the bool array.
    submitConfigurations(JSON2dBoolArray);
  }

  function submitConfigurations(JSONString) {
    let httpRequest = $.ajax({
      url: '/input/submit',
      playerId: PLAYER_ID,
      contentType: 'JSON',
      data: JSONString,
      complete: handleStateChange
    });
  }
  //       new XMLHttpRequest();
  //   httpRequest.open('POST', '/input/submit');
  //   httpRequest.setRequestHeader('Content-Type', 'application/json');
  //   httpRequest.onreadystatechange = handleStateChange;
  //   httpRequest.send("playerId=" + PLAYER_ID + "&data=" + encodeURIComponent(JSONString));
  // }
  //
  function handleStateChange(xhr, status) {
    if (status === XMLHttpRequest.DONE) {
      window.alert("configurations submitted!");
    }
    else {
      window.alert('there was a problem with the request');
    }
  }

  function changeCellColor(event) {
    switch (event.target.attributes.fill.value) {
    case ALIVE:
      event.target.attributes.fill.value = DEAD;
      break;
    case DEAD:
    default:
      event.target.attributes.fill.value = ALIVE;
      break;
    }
  }

</script>

</html>
