<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascript/two.min.js"></script>
    <title>Life Input</title>
</head>

<body>

<h2 th:text="|Hello, ${player.name}.  Input your life:|">Input your player life.</h2>

<table>
    <tr>
        <td>
            <div id="canvas"></div>
        </td>
        <td>
            <table>
                <thead>
                    <td><h4>Player</h4></td>
                    <td><h4>Ready</h4></td>
                </thead>
                <tbody>
                <tr id="player1" th:with="player1=${#lists.size(statuses) >= 1 ? statuses[0] : null}">
                    <td>
                        <div id="player1-name" th:text="${player1} ? ${player1.name} : _">Joining...</div>
                    </td>
                    <td><input type="checkbox" id="player1-ready" disabled th:checked="${player1}? *{ready} : _"/></td>
                </tr>
                <tr id="player2" th:with="player2=${#lists.size(statuses) >= 2 ? statuses[1] : null}">
                    <td>
                        <div id="player2-name" th:text="${player2} ? ${player2.name} : _">Joining...</div>
                    </td>
                    <td><input type="checkbox" id="player2-ready" disabled th:checked="${player2}? *{ready} : _"/></td>
                </tr>
                <tr id="player3" th:with="player3=${#lists.size(statuses) >= 3 ? statuses[2] : null}">
                    <td>
                        <div id="player3-name" th:text="${player3} ? ${player3.name} : _">Joining...</div>
                    </td>
                    <td><input type="checkbox" id="player3-ready" disabled th:checked="${player3}? *{ready} : _"/></td>
                </tr>
                <tr id="player4" th:with="player4=${#lists.size(statuses) >= 4 ? statuses[3] : null}">
                    <td>
                        <div id="player4-name" th:text="${player4} ? ${player4.name} : _">Joining...</div>
                    </td>
                    <td><input type="checkbox" id="player4-ready" disabled th:checked="${player4}? *{ready} : _"/></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>

<button onclick="buildConfigurationFromInput()">submit</button>

</body>

<script th:inline="javascript">
  const PLAYER_ID = [[${playerId}]];
  const GAME_ID = [[${gameId}]];
  const GRIDHEIGHT = 800;
  const GRIDWIDTH = 800;
  const ROWNUMBER = [[${playerSize}]];
  const COLUMNNUMBER = [[${playerSize}]];
  const CELLHEIGHT = GRIDHEIGHT / ROWNUMBER;
  const CELLWIDTH = GRIDWIDTH / ROWNUMBER;
  const ALIVE = "#000000";
  const DEAD = "#FFFFFF";
  const CANVAS = document.getElementById("canvas");
  const params = {
    width: GRIDWIDTH,
    height: GRIDHEIGHT
  };
  const TWO = new Two(params).appendTo(CANVAS);
  for (let j = 0; j < ROWNUMBER; j++) {
    for (let i = 0; i < COLUMNNUMBER; i++) {
      let rect = TWO.makeRectangle(CELLHEIGHT * i + CELLHEIGHT / 2, CELLWIDTH * j + CELLWIDTH / 2, CELLHEIGHT,
          CELLWIDTH);
      rect.fill = DEAD;
      rect.stroke = '#000000';
      rect.lineWidth = '5px';
      TWO.update();
      rect._renderer.elem.addEventListener("click", changeCellColor, false);
    }
  }

  //run a status poller
  setInterval(() => {
    let readyList = [
      $('#player1-ready')[0],
      $('#player2-ready')[0],
      $('#player3-ready')[0],
      $('#player4-ready')[0]
    ], nameList = [
      $('#player1-name')[0],
      $('#player2-name')[0],
      $('#player3-name')[0],
      $('#player4-name')[0]
    ];

    $.get('/input/statuses/', {
      gameId: GAME_ID
    }).done((data, textStatus, jqXHR) => {
      data.forEach((entry) => {
        nameList[entry.id].innerHTML = entry.name;
        readyList[entry.id].checked = entry.ready;
      });
    });
    //redirect to the game page if all 4 players are checked.
    if (readyList[0].checked && readyList[1].checked && readyList[2].checked && readyList[3].checked) {
      window.location.href = "/game/" + GAME_ID;
    }
  }, 1000);

  function buildConfigurationFromInput() {
    let gridList = Array.prototype.slice.call($("#two_0")[0].childNodes);
    let gridBoolList = new Array(ROWNUMBER);
    for (let i = 0; i < ROWNUMBER; i++) {
      gridBoolList[i] = new Array(COLUMNNUMBER);
    }
    gridList.forEach((gridCell) => {
      let index = gridList.indexOf(gridCell);
      switch (gridCell.attributes.fill.value) {
      case ALIVE:
        gridBoolList[Math.floor(index / COLUMNNUMBER)][index % ROWNUMBER] = true;
        break;
      case DEAD:
        gridBoolList[Math.floor(index / COLUMNNUMBER)][index % ROWNUMBER] = false;
        break;
      default:
        window.alert("something messed up in the grid. please try again");
        return;
      }

    });
    submitConfigurations(gridBoolList);
  }

  function submitConfigurations(gridBoolList) {
    let httpRequest = $.post('/input/submit', {
          playerId: PLAYER_ID,
          data: JSON.stringify(gridBoolList)
        }
        // , handleStateChange
    );
  }

  function handleStateChange(xhr, status) {
    if (status === XMLHttpRequest.DONE) {
      window.alert("configurations submitted!");
    }
    else {
      window.alert('there was a problem with the request');
    }
  }

  function changeCellColor(event) {
    switch (event.target.attributes.fill.value) {
    case ALIVE:
      event.target.attributes.fill.value = DEAD;
      break;
    case DEAD:
    default:
      event.target.attributes.fill.value = ALIVE;
      break;
    }
  }

</script>

</html>
